---
layout: default
---

<article id="main">
    <header class="special container">
        <span class="icon fa-mobile"></span>
        <h2>Nuestro <strong>Blog</strong></h2>
    </header>
    
    <section class="wrapper style4 container">
        <table>
            <tr>
                <td>
                    <h1>CONVENIO CRISTIANO PARA EL DESARROLLO ACUICOLA DE TASAJERA</h1>
                    <span style="color: gray;"><em>Daniel Teodoro &amp; Marcela Chicas</em><br />21 de Mayo, 2017</span>
                    <p>El resumen de la visita de Kurt Jenkins, Vicki Barton y Francisco Teodoro (pastor general, pastora de misiones y pastor de ministerio hispano, respectivamente) a la isla Tasajera</p>
                </td>
                <td><a href="danteo90.github.io/blog_1.html" target="_blank"><img src="danteo90.github.io/images/DSCN7713.JPG" width="400px" alt="foto dscn 7852" style='float: left; margin-right: 30px; margin-bottom: 20px;'/></a></td>
            </tr>
        </table>
    </section>
    
    <!--<section class="wrapper style4 container">
        <ul class="posts">
          {% for post in site.posts %}
            <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
              <h2><a href="danteo90.github.io/blog_1.html">{{ post.title }}</a></h2>
                {{ post.excerpt }}
                <section class="special">
                    <ul class="buttons">
                        <li><a href="{{ post.url }}" class="button">Read more</a></li>
                    </ul></section>
            </li>
          {% endfor %}
        </ul>
    </section>-->
    
</article>
