---
layout: default
---

    <article id="main">
  <header class="special container">
    <h2 class="post-title">Convenio Cristiano para el desarrollo acuicola de Tasajera</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
        
  <section class="style4 wrapper container">
      <p><b>Daniel Teodoro &amp; Marcela Chicas</b><br />21 de Mayo, 2017</p>

      <p><b>ISLA TASAJERA</b> - El pasado lunes 8 de mayo, se contó con la visita de Kurt Jenkins (Pastor General) y Vicky Barton (Pastora de misiones) de la Iglesia Central De las Asambleas de Dios (CAG - <a href="http://www.centralconnect.org/" target="_blank">Central Assembly of God</a>) en Pensilvania. Este viaje tuvo como propósito crear un lazo más estrecho con la iglesia Milej mediante una ceremonia de “cobertura espiritual” y concretar el proyecto de los estanques de tilapias. La ceremonia de “cobertura espiritual” tuvo como principal objetivo la unión de ambas iglesias y definir los canales de comunicación apropiados entre los habitantes de la isla y la iglesia central. Esta ceremonia consistió en la firma de un contrato de compromiso donde pastor Aristides Arce y los ancianos de la iglesia Milej, junto a los representantes de la Iglesia Central de Las Asambleas de Dios de Pensilvania.</p>
      
      <div id='container'>
<p><img src="danteo90.github.io/images/DSCN7713.JPG" width="400px" height="295px" alt="foto dscn 7852" style='float: left; margin-right: 30px; margin-bottom: 20px;'/>
El segundo propósito de la visita fue concretar el proyecto de los estanques de tilapias, ya que los representantes tuvieron diversas reuniones, con el que será el encargado de la construcción del muro perimetral del terreno designado para la construcción de los estanques, también se reunieron con uno de los representantes de CORDES que estará a cargo de la capacitación de las familias que participaran en el proyecto; así como también en la asesoría pertinente durante todo el proceso. El encargado de este proyecto será el pastor Aristides Arce con el cual también tuvieron reuniones que definieron los canales de comunicaciones y la distribución del financiamiento del proyecto.</p>
</div>
      
      <p>Se comunico la iglesia Central de Pennsylvania no es dueno del proyecto, sino que es un proyecto destinado y administrado por la comunidad, por lo que ellos serán solo los facilitadores. Las familias que serán beneficiadas se comprometieron con ayudar con mano de obra durante la construcción de las distintas fases del proyecto. Así como también a asistir a todas las capacitaciones que se impartirán para el uso y mantenimiento correcto de los estanques y de las tilapias.</p>
       <p><img src="danteo90.github.io/images/DSCN7758.JPG" width="400px" height="275px" alt="foto dscn DSCN7758" style="float: right; margin-left: 30px;">Para finalizar se realizó una pequeña ceremonia de inauguración del proyecto en el terreno designado para la construcción de los estanques donde los ancianos junto con el pastor Aristides y los pastores de la iglesia de Pensilvania realizaron una oración especial para bendecir el lugar y dar inicio a la construcción de la cerca perimetral. Estas ceremonias tienen como propósito acercar ambas iglesias y abrir nuevos canales de comunicación más claros para evitar malos entendidos y cualquier otra circunstancia que pueda afectar la continuidad del proyecto. Tanto los misioneros como las personas que participaran en el proyecto  se encuentran emocionados de trabajar como un equipo para lograr de esta manera sacar adelante los estanques, ya que estos abrirán una puerta a nuevos proyectos auto sostenibles para la comunidad de la isla.</p>
      <img src="danteo90.github.io/images/DSCN7877.JPG" width="400px" height="275px" alt="foto dscn 7877" style="margin-left: 30px;">
      <img src="danteo90.github.io/images/DSCN7852.JPG" width="400px" height="275px" alt="foto dscn DSCN7852" style="margin-left: 30px;">

  </section>
    
    <footer>
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="post-prev">&larr; Previous post</a> {% endif %}
        {% if page.next %}
        <a href="{{ page.next.url }}" class="post-next">Next post &rarr;</a> {% endif %}
    </footer>
</article>
