---
layout: default
---

<!--header-->
<!-- Header -->
			<header id="header">
			<div class="1u">
				<a href="http://www.mareasdetasajera.com/"><img src="images/logoA-small.jpg" width="100" alt="" /></a>
			</div>
				<nav id="nav">
					<ul>
						<li><a href="/">Inicio</a></li>
                        			<li><a href="/blog.html">Blog</a></li>
						<li class="submenu">
							<a href="">Menu</a>
							<ul>
								<li><a href="/la-isla.html">La Isla</a></li>
								<li><a href="/el-proyecto.html">El Proyecto</a></li>
								<li><a href="/quienes-somos.html">Quiénes somos</a></li>
								<li class="submenu">
									<a href="/indicadores.html">Indicadores</a>
									<ul>
										<li class="submenu">
											<a href="/economia.html">Economía</a>
											<ul>
												<li><a href="/pesca.html">Pesca</a></li>
												<li><a href="/diversificacion.html">Diversificación</a></li>
												<li><a href="/precio-de-gas.html">Precio de Gas</a></li>
												<li><a href="/precio-de-comida.html">Precio de Comida</a></li>
												<li><a href="/turismo.html">Turismo</a></li>
											</ul>
										</li>
										<li class="submenu">
											<a href="/sociedad.html">Sociedad</a>
											<ul>
												<li><a href="/educacion.html">Educación</a></li>
												<li><a href="/seguridad.html">Seguridad</a></li>
												<li><a href="/gobernanza.html">Gobernanza</a></li>
												<li><a href="/propriedad-de-tierra.html">Propriedad de Tierra</a></li>
												<li><a href="/salud.html">Salud</a></li>
												<li><a href="/migracion.html">Migración</a></li>
											</ul>
										</li>
										<li class="submenu">
											<a href="/medio-ambiente.html">Medio Ambiente</a>
											<ul>
												<li><a href="/vivero-de-tortugas.html">Vivero de Tortugas</a></li>
												<li><a href="/agua.html">Agua</a></li>
												<li><a href="/basura.html">Basura</a></li>
												<li><a href="/clima-extremo.html">Clima Extremo</a></li>
												<li><a href="/la-erosion.html">Erosión</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="/blog_en.html" class="button special">English</a></li>
					</ul>
				</nav>
			</header>

<!-- MAIN -->

<article id="main">
    <header class="special container">
        <span class="icon fa-mobile"></span>
        <h2>Nuestro <strong>Blog</strong></h2>
    </header>
    
    <section class="wrapper style4 container">
        <table>
            <tr>
                <td>
                    <h1><b><a href="danteo90.github.io/blog_1.html">CONVENIO CRISTIANO PARA EL DESARROLLO ACUICOLA DE TASAJERA</a></b></h1>
                    <span style="color: gray;"><i>Daniel Teodoro &amp; Marcela Chicas</i><br /></span>
                    <p style="margin-right: 10px;">El resumen de la visita de Kurt Jenkins, Vicki Barton y Francisco Teodoro (pastor general, pastora de misiones y pastor de ministerio hispano, respectivamente) a la isla Tasajera</p>
                </td>
                <td><span>21 de Mayo, 2017</span><a href="danteo90.github.io/blog_1.html"><img src="danteo90.github.io/images/DSCN7713.JPG" width="400px" alt="foto dscn 7852" style='float: left; margin-right: 30px; margin-bottom: 20px;'/></a></td>
            </tr>
        </table>
    </section>
    
    <!--<section class="wrapper style4 container">
        <ul class="posts">
          {% for post in site.posts %}
            <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
              <h2><a href="danteo90.github.io/blog_1.html">{{ post.title }}</a></h2>
                {{ post.excerpt }}
                <section class="special">
                    <ul class="buttons">
                        <li><a href="{{ post.url }}" class="button">Read more</a></li>
                    </ul></section>
            </li>
          {% endfor %}
        </ul>
    </section>-->
    
</article>
