---
layout: default-en
---
<!-- Header -->
			<header id="header">
				<div class="1u">
				<a href="http://www.mareasdetasajera.com/index-en.html"><img src="/images/logo-en.png" width="100" alt="" /></a>
				</div>
				<nav id="nav">
					<ul>
						<li><a href="/index-en.html">Home</a></li>
                        			<li><a href="/blog-en.html">Blog</a></li>
						<li class="submenu">
							<a href="">Menu</a>
							<ul>
								<li><a href="/the-island.html">The Island</a></li>
								<li><a href="/the-project.html">The Project</a></li>
								<li><a href="/who-are-we.html">Who Are We</a></li>
								<li class="submenu">
									<a href="/indicators-en.html">Indicators</a>
									<ul>
										<li class="submenu">
											<a href="/economy.html">Economy</a>
											<ul>
												<li><a href="/fish-catch.html">Fish Catch</a></li>
												<li><a href="/diversification.html">Diversification</a></li>
												<li><a href="/price-of-gas.html">Price of Gas</a></li>
												<li><a href="/food-prices.html">Food Prices</a></li>
												<li><a href="/tourism.html">Tourism</a></li>
											</ul>
										</li>
										<li class="submenu">
											<a href="/society.html">Society</a>
											<ul>
												<li><a href="/education.html">Education</a></li>
												<li><a href="/security.html">Security</a></li>
												<li><a href="/governance.html">Governance</a></li>
												<li><a href="/land-propriety.html">Land Propriety</a></li>
												<li><a href="/health.html">Health</a></li>
												<li><a href="/migration.html">Migration</a></li>
											</ul>
										</li>
										<li class="submenu">
											<a href="/environment.html">Environment</a>
											<ul>
												<li><a href="/turtle-sanctuary.html">Turtle Sanctuary</a></li>
												<li><a href="/water.html">Water</a></li>
												<li><a href="/waste.html">Waste</a></li>
												<li><a href="/extreme-weather.html">Extreme Weather</a></li>
												<li><a href="/erosion.html">Erosion</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="http://www.mareasdetasajera.com/blog.html" class="button special">Español</a></li>
					</ul>
				</nav>
			</header>

<!--MAIN -->
<article id="main">
    <header class="special container">
        <span class="icon fa-mobile"></span>
        <h2>Our <strong>Blog</strong></h2>
    </header>
    <section class="wrapper style4 container">
        <table>
            <tr>
		    <td>
				<h1><b><a href="danteo90.github.io/blog_3_en.html">RESEARCHERS FROM THE UNIVERSITY OF MARYLAND SHOW INTEREST IN TASAJERA</a></b></h1>
				<span style="color: gray;"><i>Daniel Teodoro</i><br /></span>
				<p style-"margin-right: 10px;">Researchers and doctoral students from the University of Maryland have shown interest in collaborating with groups and initiatives working in Tasajera Island to contribute in sustainable development.</p>
			</td>
		    <td>
				<span>November 10, 2017</span><a href="danteo90.github.io/blog_3_en.html">
				<img src="https://www.collegemagazine.com/wp-content/uploads/2014/09/odk-fountain.jpg" width="400px" alt="" style="float: left; margin-right: 30px; margin-bottom: 20px;"/></a>
			</td>
		</tr>
		<tr>
                <td>
                    <h1><b><a href="danteo90.github.io/blog_1_en.html">CHRISTIAN COVENANT FOR SPIRITUAL AND AQUACULTURE DEVELOPMENT IN TASAJERA</a></b></h1>
                    <span style="color: gray;"><i>Daniel Teodoro &amp; Marcela Chicas</i><br /></span>
                    <p style="margin-right: 10px;">The summary of the visit of Kurt Jenkins, Vicki Barton, and Francisco Teodoro (Lead pastor, pastor of missions, and pastor of hipanic ministries, respectively) from Central Assembly of God (Houston, PA) to Tasajera Island.</p>
                </td>
                <td><span>May 21, 2017</span><a href="danteo90.github.io/blog_1_en.html"><img src="danteo90.github.io/images/DSCN7713.JPG" width="400px" alt="foto dscn 7852" style='float: left; margin-right: 30px; margin-bottom: 20px;'/></a></td>
            </tr>
        </table>
    </section>
    
    
    <!--
    <section class="wrapper style4 container">
        <ul class="posts">
          {% for post in site.posts %}
            <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
              <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                {{ post.excerpt }}
                <section class="special">
                    <ul class="buttons">
                        <li><a href="{{ post.url }}" class="button">Read more</a></li>
                    </ul></section>
            </li>
          {% endfor %}
        </ul>
    </section>
    -->
</article>
