<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Mareas de Tasajera</h2>
        </header>
        <p>Esto es <strong>Mareas de Tasajera</strong>, una
        <br />
        herramienta gratis para
        <br />
        el monitoreo de la Isla Tasajera.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>
