<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Mareas de Tasajera</h2>
        </header>
        <p> La base de datos de la<br />la Isla Tasajera. Aqui nos conectamos con la realidad social, economica y ambiental de la isla.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Ver Más</a></li>
            </ul>
        </footer>

    </div>

</section>
