<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Mareas de Tasajera</h2>
        </header>
        <p> El portal online de la Isla Tasajera<br /> 
            nos conectamos con la realidad social,<br />
            economica y ambiental de la isla.</p>
        <footer>
            <div class="hexagon"></div>
            <ul class="">
                <li><a href="#main" class="button fit scrolly">Ver indicadores</a></li>
                <li><a href="#proyectos" class="button fir scrolly">Proyectos en la isla</a></li>
                <li><a href="http://www.mareasdetasajera.com/el-proyecto.html" class="button fir scrolly">Investigacion</a></li>
            </ul>
        </footer>

    </div>

</section>
