<header id="header">
			<div class="1u">
				<a href="http://www.mareasdetasajera.com/index-en.html"><img src="images/logo-en.png" width="100" alt="" /></a>
			</div>
				<nav id="nav">
					<ul>
						<li><a href="/index-en.html">Home</a></li>
                        			<li><a href="/blog-en.html">Blog</a></li>
						<li class="submenu">
							<a href="">Menu</a>
							<ul>
								<li><a href="/the-island.html">The Island</a></li>
								<li><a href="/the-project.html">The Project</a></li>
								<li><a href="/who-are-we.html">Who Are We</a></li>
								<li><a href="/contact-en.html">Contact Us</a></li>
								<li class="submenu">
									<a href="/indicators-en.html">Indicators</a>
									<ul>
										<li class="submenu">
											<a href="#">Economy</a>
											<ul>
												<li><a href="#">Fish Catch</a></li>
												<li><a href="/indicator-pages/diversification.html">Diversification</a></li>
												<li><a href="#">Price of Gas</a></li>
												<li><a href="#">Price of Food</a></li>
												<li><a href="#">Tourism</a></li>
											</ul>
										</li>
										<li class="submenu">
											<a href="#">Society</a>
											<ul>
												<li><a href="#">Education</a></li>
												<li><a href="#">Security</a></li>
												<li><a href="#">Governance</a></li>
												<li><a href="#">Land Propriety</a></li>
												<li><a href="#">Health</a></li>
												<li><a href="#">Migration</a></li>
											</ul>
										</li>
										<li class="submenu">
											<a href="#">Environment</a>
											<ul>
												<li><a href="#">Turtle Sanctuary</a></li>
												<li><a href="#">Water</a></li>
												<li><a href="#">Waste</a></li>
												<li><a href="#">Extreme Weather</a></li>
												<li><a href="#">Erosion</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="http://www.mareasdetasajera.com/" class="button special">Español</a></li>
					</ul>
				</nav>
			</header>
