<header id="header">
			<div class="1u">
				<a href="http://www.mareasdetasajera.com/"><img src="images/logoA-small.jpg" width="100" alt="" /></a>
			</div>
				<nav id="nav">
					<ul>
						<li><a href="/">Inicio</a></li>
                        			<li><a href="/blog.html">Blog</a></li>
						<li class="submenu">
							<a href="">Menu</a>
							<ul>
								<li><a href="/la-isla.html">La Isla</a></li>
								<li><a href="/el-proyecto.html">El Proyecto</a></li>
								<li><a href="/quienes-somos.html">Quiénes somos</a></li>
								<li class="submenu">
									<a href="/indicadores.html">Indicadores</a>
									<ul>
										<li class="submenu">
											<a href="/economia.html">Economía</a>
											<ul>
												<li><a href="/pesca.html">Pesca</a></li>
												<li><a href="/diversificacion.html">Diversificación</a></li>
												<li><a href="/precio-de-gas.html">Precio de Gas</a></li>
												<li><a href="/precio-de-comida.html">Precio de Comida</a></li>
												<li><a href="/turismo.html">Turismo</a></li>
											</ul>
										</li>
										<li class="submenu">
											<a href="/sociedad.html">Sociedad</a>
											<ul>
												<li><a href="/educacion.html">Educación</a></li>
												<li><a href="/seguridad.html">Seguridad</a></li>
												<li><a href="/gobernanza.html">Gobernanza</a></li>
												<li><a href="/propriedad-de-tierra.html">Propriedad de Tierra</a></li>
												<li><a href="/salud.html">Salud</a></li>
												<li><a href="/migracion.html">Migración</a></li>
											</ul>
										</li>
										<li class="submenu">
											<a href="/medio-ambiente.html">Medio Ambiente</a>
											<ul>
												<li><a href="/vivero-de-tortugas.html">Vivero de Tortugas</a></li>
												<li><a href="/agua.html">Agua</a></li>
												<li><a href="/basura.html">Basura</a></li>
												<li><a href="/clima-extremo.html">Clima Extremo</a></li>
												<li><a href="/la-erosion.html">Erosión</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="/index-en.html" class="button special">English</a></li>
					</ul>
				</nav>
			</header>
