<header id="header">
			<div class="1u">
				<a href="http://www.mareasdetasajera.com/index-en.html"><img src="images/logo-en.png" width="100" alt="" /></a>
			</div>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
                        			<li><a href="/blog.html">Blog</a></li>
						<li class="submenu">
							<a href="">Menu</a>
							<ul>
								<li><a href="/left-sidebar.html">The Island</a></li>
								<li><a href="/right-sidebar.html">The Project</a></li>
								<li><a href="/no-sidebar.html">Who Are We</a></li>
								<li><a href="/contact.html">Contact Us</a></li>
								<li class="submenu">
									<a href="">Indicators</a>
									<ul>
										<li class="submenu">
											<a href="#">Economy</a>
											<ul>
												<li><a href="#">Fish Catch</a></li>
												<li><a href="#">Diversification</a></li>
											</ul>
										</li>
										<li class="submenu">
											<a href="#">Society</a>
											<ul>
												<li><a href="#">School Enrollment</a></li>
												<li><a href="#">Dropout Rates</a></li>
											</ul>
										</li>
										<li class="submenu">
											<a href="#">Environment</a>
											<ul>
												<li><a href="#">Climate</a></li>
												<li><a href="#">Turtle Sanctuary</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="http://www.mareasdetasajera.com/" class="button special">Español</a></li>
					</ul>
				</nav>
			</header>
